*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  padding: 0;
  margin: 0;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label {
  font-weight: bolder;
}

/* START Button Styles */
button {
  font-size: xx-large;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.hide {
    display: none;
}

#startBtn {
    border: 2px solid red;
    color: pink;
    margin: 0 auto;
  }

#trueBtn:hover {
  background-color: white;
}
#falseBtn:hover {
  background-color: blue;
  color: yellow;
}
#startBtn:hover {
  background-color: red;
}
/* END button styles */

/* START Container and Element Containers */
.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  background-color: #006699;
  max-width: 80%;
  border-radius: 1rem;
  border: 2px solid pink;
  box-shadow: 0 0 10px 1px;
  padding: 10px;
}

#qBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-container {
  padding: 1rem;
}
#btnGrid {
  padding: 1rem;
}

